@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rochester', cursive;
}

html {
  font-size: 62.5%;
}
@media screen and (min-width: 1440px){
  .main-container {
    width: 1440px !important;
    /*
    width: 90%
    */
  }
  /*
  .row-5 {
    transform: none !important;
  }*/
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.heading-1 {
  font-size: 7.2rem;
}

.heading-1 {
  font-size: 5.6rem !important;
  font-weight: 500;
}

.heading-2 {
  font-size: 4.6rem !important;
  font-weight: 500;
}

.heading-3 {
  font-size: 3.6rem !important;
  font-weight: 500;
}

.heading-4 {
  font-size: 2.4rem !important;
  font-weight: 500;
}

.normal-text {
  font-size: 2.2rem !important;
  font-weight: 500;
}

.text-width-45 {
  display: inline-block;
  width: 45%;
}

.main-color {
  color: #CD9400 !important;
}
.white {
  color: #ffffff !important;
}