@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rochester', cursive;
}

html {
  font-size: 62.5%;
}
@media screen and (min-width: 1440px){
  .main-container {
    width: 1440px !important;
  }
  .row-5 {
    transform: none !important;
  }
}

.main-container {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.heading-1 {
  font-size: 7.2rem;
}