<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homens.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <title>Parfum Pierer - Homens</title>
</head>

<body>
  <div class="main-container">
    <div class="main-menu-container">
      <div class="main-menu-container--logo-container">
        <h1 class="logo-container--logo thin-text"><span class="logo--black-container">Pierer</span> Parfum</h1>
      </div>

      <ul class="main-menu-container--menu">
        <li class="main-menu--item">
          <a href="/" class="menu-item--link">Home</a>
        </li>
        <li class="main-menu-item">
          <a href="#" class="menu-item--link">Homens</a>
        </li>
        <li class="main-menu-item">
          <a href="/mulheres" class="menu-item--link">Mulheres</a>
        </li>
        <li class="main-menu-item">
          <a href="/about" class="menu-item--link">História</a>
        </li>
        <li class="main-menu-item">
          <a href="/auth/login" class="menu-item--link"  id="login-button" target="_blank">Login</a>
        </li>
        <li class="main-menu-item" style="display: none;" id="buy-orders-button-item">
          <a href="/buy_orders" id="buy-orders-button" class="menu-item--link">Compras</a>
        </li>
      </ul>
    </div>


    <div class="row-container row-1">
      <div class="heading-text-container white">
        <span class="heading-text-container--text heading-1">
          Pierers <span class="main-color">masculinos</span> são a ascensão de odores Penetrantes
        </span>
      </div>

      <div class="photo-container">
        <img src="{{url_for('static', filename='assets/images/pexels-edson-habacuc-rafael-904332.jpg') }}" alt=""
          class="row-container img-header-img">
      </div>
    </div>

    <div id="perfume-container" class="row-2">
    </div>
  </div>

  <footer class="footer-container">
    <div class="footer-container--top-container">
      <h2 class="footer-container--top-container--title thin-text">
        Parfum Perir
      </h2>
    </div>

    <ul class="main-menu-container--menu footer-container--middle-container">
      <li class="main-menu--item">
        <a href="/" class="menu-item--link">Home</a>
      </li>
      <li class="main-menu-item">
        <a href="#" class="menu-item--link">Homens</a>
      </li>
      <li class="main-menu-item">
        <a href="/mulheres" class="menu-item--link">Mulheres</a>
      </li>
      <li class="main-menu-item">
        <a href="/about" class="menu-item--link">História</a>
      </li>
      <li class="main-menu-item">
        <a href="/auth/login" class="menu-item--link" id="login-button"  target="_blank">Login</a>
      </li>

      <li class="main-menu-item" style="display: none;" id="buy-orders-button-item">
        <a href="/buy_orders" id="buy-orders-button" class="menu-item--link">Compras</a>
      </li>
    </ul>


    <div class="footer-container--footer-container">
      <div class="footer-container--inner">
        <ul class="social-menu-media-container">
          <li class="social-menu-media-container--item">
            <i class="fab fa-facebook-f social-menu-media-container--item--icon"></i>
          </li>

          <li class="social-menu-media-container--item">
            <i class="fab fa-instagram social-menu-media-container--item--icon"></i>
          </li>

          <li class="social-menu-media-container--item">
            <i class="fab fa-twitter social-menu-media-container--item--icon"></i>
          </li>
        </ul>


        <h2 class="footer-container--footer-container--title thin-text">
          Parfum Perir
        </h2>
      </div>

      <h4 class="footer-container--author-props thin-text">
        Developed by Eufránio Diogo
      </h4>
    </div>

  </footer>

  <script src="{{url_for('static', filename='js/homens.js') }}"></script>
  <script src="{{ url_for('static', filename='js/auth/authenticated.js') }}"></script>
</body>

</html>