<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/variables.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/mulheres.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <title>Parfum Pierer - Mulheres</title>
</head>

<body>
  <div class="main-container">
    <div class="main-menu-container">
      <div class="main-menu-container--logo-container">
        <h1 class="logo-container--logo thin-text"><span class="logo--black-container">Pierer</span> Parfum</h1>
      </div>

      <ul class="main-menu-container--menu">
        <li class="main-menu--item">
          <a href="../index.html" class="menu-item--link">Home</a>
        </li>
        <li class="main-menu-item">
          <a href="./homens.html" class="menu-item--link">Homens</a>
        </li>
        <li class="main-menu-item">
          <a href="#" class="menu-item--link">Mulheres</a>
        </li>
        <li class="main-menu-item">
          <a href="./about.html" class="menu-item--link">História</a>
        </li>
        <li class="main-menu-item">
          <a href="./login.html" class="menu-item--link" target="_blank">Login</a>
        </li>
      </ul>
    </div>


    <div class="row-container row-1">
      <div class="heading-text-container white">
        <span class="heading-text-container--text heading-1">
          Pierers <span class="main-color">femeninos</span> foram desenhados para o seu impacto Submerssivo
        </span>
      </div>

      <div class="photo-container">
        <img src="../../assets/images/pexels-jorge-fakhouri-filho-2616970.jpg" alt=""
          class="row-container img-header-img">
      </div>
    </div>

    <div id="perfume-container" class="row-2">
      
    </div>
  </div>

  <footer class="footer-container">
    <div class="footer-container--top-container">
      <h2 class="footer-container--top-container--title thin-text">
        Parfum Perir
      </h2>
    </div>

    <ul class="main-menu-container--menu footer-container--middle-container">
      <li class="main-menu--item">
        <a href="../index.html" class="menu-item--link">Home</a>
      </li>
      <li class="main-menu-item">
        <a href="./homens.html" class="menu-item--link">Homens</a>
      </li>
      <li class="main-menu-item">
        <a href="#" class="menu-item--link">Mulheres</a>
      </li>
      <li class="main-menu-item">
        <a href="./about.html" class="menu-item--link">História</a>
      </li>
      <li class="main-menu-item">
        <a href="./login.html" class="menu-item--link" target="_blank">Login</a>
      </li>
    </ul>


    <div class="footer-container--footer-container">
      <div class="footer-container--inner">
        <ul class="social-menu-media-container">
          <li class="social-menu-media-container--item">
            <i class="fab fa-facebook-f social-menu-media-container--item--icon"></i>
          </li>

          <li class="social-menu-media-container--item">
            <i class="fab fa-instagram social-menu-media-container--item--icon"></i>
          </li>

          <li class="social-menu-media-container--item">
            <i class="fab fa-twitter social-menu-media-container--item--icon"></i>
          </li>
        </ul>


        <h2 class="footer-container--footer-container--title thin-text">
          Parfum Perir
        </h2>
      </div>

      <h4 class="footer-container--author-props thin-text">
        Developed by Eufránio Diogo
      </h4>
    </div>

  </footer>
  <script src="./../js/mulheres.js"></script>
</body>

</html>